.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.wrapper {
    background-color: var(--softBg);
    padding: 100px; /* Adjusted for potentially wider appearance */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Reduced gap for a compact form */
    border-radius: 10px;
    width: 50%; /* Set a specific width to control form size */
    max-width: 500px; /* Ensuring it doesn't get too wide on larger screens */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginTitle {
    width: 100%;
    font-size: 14px;
    color: var(--textColor); /* Uses the variable for default text color */
    font-weight: 500;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.label {
    font-size: 16px;
    color: var(--textColor);
}

.input {
    width: 100%;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 40px;
    padding: 0.5rem;
    outline: none;
    margin-top: 10px;
}

.input--full {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
}

.button {
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #4688F1;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.errorInput {
    border-color: #f87171; /* Tailwind's 'border-red-500' */
}

.errorMsg {
    color: red;
    padding-top: 10px;
    display: block;
}

.passDiv {
    width: 100%;
    margin-top: 20px;
    position: relative;
    margin-bottom: 5px;
}

.icon {
    position: absolute;
    bottom: 8px;
    right: 5px;
    z-index: 1;
    cursor: pointer;

}

.subtext {
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}

/* Dark mode specific styles */
.dark .loginTitle,
.dark .label,
.dark .input {
    color: var(--textColor);
}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 30px;
        width: 80%; /* More responsive width for smaller screens */
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        padding: 20px;
    }
    .input, .button {
        font-size: 14px;
    }
}
