.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    flex: 1;
    font-size: 36px;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    font-size: 15px;
}

.activeLink {
    color: black; /* Active link color */
    font-weight: 500; /* Makes active link bold */
}

.inactiveLink {
    color: slategrey; /* Inactive link color */
}


.social {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
}