.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.wrapper {
    background-color: var(--softBg);
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;
}

.social {
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.social:first-child {
    background-color: #4688F1;
}

.social:nth-child(2) {
    background-color: #111;
}

/*Responsive Media Queries*/
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 50px 100px;
    }
}
@media screen and (max-width: 640px) {
    .wrapper {
        padding: 30px;
    }
    .social {
        font-weight: 400;
        font-size: 14px;
    }
}